{% extends "core/dashboard.html" %} {% load humanize %} {% load erp_tags %} {%
block head %}
<style>
  .list-inline-item:not(:last-child) {
    margin-right: 0rem;
  }
  .breadcrumb {
    padding: 0.75rem 1rem 0.75rem 0rem;
    background-color: Transparent;
  }
  .card-header {
    border-bottom: none;
  }
  .breadcrumb-item a {
    color: #563d7c;
    font-weight: bold;
  }
  .table {
    -moz-appearance: textfield;
    background-color: transparent;
    border: 0px solid transparent;
    font-size: 90%;
    height: calc(1.81245rem + 2px);
  }
</style>
{% endblock %} {% block content %}
<div class="row" style="padding: 5px">
  <div class="card card-outline col-12">
    <div class="card-header">{% include 'core/header_botons.html' %}</div>
    <div class="card-body">{% include 'core/detail_body.html' %}</div>
    <div class="card-footer">
      {% include 'core/footer_total.html' %}
      <hr class="style1" />
      <div class="row">
        <div class="form-group row col-sm-12">
          <label class="col-1 col-form-label">{{ _('Note') }}</label>
          <div class="col-11">
            <textarea
              name="note"
              cols="400"
              rows="1"
              class="form-control"
              style="width: 100%"
              id="id_note"
              readonly
            >
{{ object.note}}</textarea
            >
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-footer -->
  </div>
</div>
{% include 'core/time_line.html' %} {% endblock %}
